# Build output
bin/
obj/

# Visual Studio
.vs/
*.user

# Node
node_modules/
dist/

# env files
.env

# Json data for evaluation
src/ConnectFour.Evaluation/data/benchmark-positions-scraped.json
src/ConnectFour.Evaluation/data/train-split.json
src/ConnectFour.Evaluation/data/test-split.json